# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Lab3_OOP_PartTwo.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Study\ООП\Semestr_2\Lab3_OOP_PartTwo\.idea\.idea.Lab3_OOP_PartTwo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
